.video-card
  text-align: center
  .card-image
    img
      border-radius: 0 0 5px 5px
    .play-overlay
      display: none
    &:hover
      .image
        opacity: 0.9
      .play-overlay
        display: block
        position: absolute
        z-index: 9
        color: rgba(255, 255, 255, 0.52)
        font-size: 130px
        height: 130px
        width: 100%
        top: 40%

  .card-content
    padding: 0
    .title
      padding: 0.75rem
      color: darken($primary-neutral, 45)
      margin: 0
      &:hover
        text-decoration: underline
        color: transparentize(darken($primary-neutral, 45), 0.3)

  .video-metadata
    color: #bdbdbd
    width: 100%
    &>div:first-child
      padding: 5px 0
    .icon
      font-size: 17px
      vertical-align: baseline
      margin-right: 5px
  .speakers-list
    text-align: left
    padding: 0.75rem 1rem
    color: $grey
    border-top: 1px solid $border-color
    strong
      color: $grey-dark
    .icon
      color: $grey-light
    a
      //color: $text-light
      &:hover
        text-decoration: underline
