$videos-list-max-width: 1300px

.videos-page
  text-align: center
  margin: 0 auto
  padding: 64px 0.5em

  .videos-filter
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    gap: 1em
    margin-bottom: 0
    .field
      justify-content: center
      .control .button
        background: $white
        color: $text-strong
    .field, .control
      margin: 0

.videos-page, .speaker-page
  .videos-list
    border-bottom: 1px solid #e8e8e8
    padding-bottom: 32px

.videos-list
  margin: 0 auto
  justify-content: center
  max-width: $videos-list-max-width
  padding: 0

  .column
    min-width: 300px
    max-width: 654px
