$videos-list-max-width: 1300px

.videos-page
  text-align: center
  margin: 0 auto
  padding: 5vh 0.5em

  .header
    min-height: 100px
    margin-bottom: 20px
  .videos-filter
    max-width: 450px
    margin: 0 auto 30px
    border: 1px solid $grey-lighter
    padding: 0.5em 1em
    border-radius: 10px
    justify-content: space-around
    box-shadow: 0px 3px 5px #f1f1f1
    .field
      justify-content: center
    .field, .control
      margin: 0

.videos-page, .speaker-page
  .videos-list
    border-top: 1px solid #e8e8e8
    border-bottom: 1px solid #e8e8e8

.videos-list
  margin: 0 auto
  justify-content: center
  max-width: $videos-list-max-width
  padding: 1em 0

  .column
    min-width: 300px
    max-width: 654px
