.wrapper-timeline
  h3
    font-size: 18px
    font-weight: bold

  .time
    display: flex
    flex-direction: row

  .timeline
    background: $grey-timeline
    border-radius: 25px
    height: 15px
    margin-left: auto
    margin-right: auto
    width: 100%
    &.played
      background: $green-new
