@import "mixins"
@import "button"
@import "container"
@import "icon-link"
@import "nav"

.align-middle
  vertical-align: middle

.d-inline
  display: inline

.d-inline-block
  display: inline-block

.d-table
  display: table

.d-table-cell
  display: table-cell

.logo-svg-24
  height: 24px
  width: 24px

.logo-svg-30
  height: 30px
  width: 30px

.logo-svg-50
  height: 50px
  width: 50px

#VideoRefacted
  background: $primary-bg
  font-size: 13px
  height: 100vh
  width: 100vw
