{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread",
    "babel-plugin-styled-components"
  ]
}
