{
  "presets": ["es2015", "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 1%",
            "Last 2 versions",
            "IE 11"
          ]
        }
      }
    ],
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["inline-json-import", {}]
  ]
}
