# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.vscode
.settings
.tmproj
nbproject
Thumbs.db
.history

# NPM packages folder.
node_modules/

# Brunch output folder.
public/

# Ignore tests coverage
coverage

# Ignore cypress videos and screenshots
cypress/videos

# Ignore styleguide build
styleguide

# API dev image resources
dev/dev_docker_api_resources/*
!dev/dev_docker_api_resources/.keep
