stages:
  - name: test
  - name: deploy
    if: branch IN (master, staging) OR tag =~ ^v\d+

jobs:
  include:
    - stage: test
      language: node_js
      node_js: [node]
      before_install:
        - npm install -g npm@latest
      cache: {directories: [node_modules]}
      script:
        - npm run coverage && cat ./coverage/lcov.info | coveralls
    - stage: deploy
      if: branch IN (master, staging)
      language: generic
      sudo: required
      services: [docker]
      env:
        - CF_FRONTEND_IMAGE=captainfact/frontend:$TRAVIS_BRANCH
      script:
        - docker build --build-arg BUILD_ENV=$TRAVIS_BRANCH -t $CF_FRONTEND_IMAGE . &&
          if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
              docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
              echo "Pushing $CF_FRONTEND_IMAGE";
              docker push $CF_FRONTEND_IMAGE;
          fi

