.page-video-container {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  h1 {
    font-size: 20px;
    flex: 100%;
  }
  .add-video {
    background-color: $white;
    border: none;
    padding: 7px;
    position: absolute;
    right: 0;
    top: 0%;
    color: $darkblue;
    cursor: pointer;
    border-radius: 3px;
    &::after {
      content: '>';
      margin-left: 5px;
    }
  }
  .timeline {
    flex: 100%;
    margin-top: 25px;
    .timeline-bar {
      position: relative;
      height: 15px;
      width: 100%;
      border: 2px solid transparentize(#fff, 0.8);
      border-radius: 3px;
      .progress {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        border-radius: 3px;
        background-color: white;
        right: 50%;
      }
    }
  }
  .col-left,
  .col-right {
    margin-top: 30px;
    width: 50%;
    position: relative;
    padding-right: 20px;
  }
  .col-left {
    & > div {
      margin-top: 200px;
    }
    &::after {
      content: '';
      width: 2px;
      height: 100%;
      background: transparentize($white, 0.8);
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .col-right {
    .comment {
      padding: 30px;
      margin: 20px;
      background-color: $lightblue;
      border-radius: 3px;
      border: 2px solid transparentize($white, 0.8);
      position: relative;
      &:nth-of-type(2n) {
        background-color: $darkblue;
      }
      .date {
        position: absolute;
        top: 5px;
        left: 10px;
      }
      .vote {
        background-color: $white;
        padding: 5px 10px;
        border-radius: 3px;
        margin: 5px;
        &.up {
          color: green;
        }
        &.down {
          color: red;
        }
      }
      .reaction {

      }
    }
  }
}
