.videodebate-actions-history
  height: 100vh
  overflow-y: auto
  background: white

.actions-list.table
  th, td, th> *
    vertical-align: middle
  margin-bottom: 0.5em

.modal-history .modal-card
  width: 1000px
  .modal-card-body
    padding: 0 0.5em
