.videodebate-actions-history
  @include animate(fadeIn, 0.15s)
  border-top: 1px solid #dbdbdb
  height: 100vh
  overflow-y: auto
  text-align: center
  background: white
  .header
    margin: 0 0 50px
    padding: 30px 0 0

  .actions-list
    margin-bottom: 30px

.modal-history .modal-card
  width: 800px
  .modal-card-body
    text-align: center
    padding: 2em 0
