.user-form
  max-width: 500px
  margin: 0 auto
  padding: 20vh 10px 2vh 10px

  .button
    width: 100%

.modal .user-form
  padding-top: 20px

.third-party-auth
  max-width: 600px
  margin: 50px auto 20px
  text-align: center

  .third-party-service-button
    font-size: 70px
    height: 4rem
    line-height: 4rem
    width: 6rem
