.moderation-entry
  &-date
    font-weight: bold
    display: block
  &-buttons
    padding-top: 2em
    display: flex 
    justify-content: space-between
    margin: 0 10%
  &-button
    width: 25%
    &>.icon
      margin-right: 0.5rem !important
      margin-top: -2px !important
