.speaker-preview
  .speaker-name
    font-weight: 300
    font-size: $size-4

  .subtitle
    font-size: $size-6
    font-weight: 300

  .speaker-picture
    border-radius: 25px
    width: 50px
    height: 50px

  .quick-actions .icon
    font-size: 1.60em
    margin: 0 0.15em