.speaker-page
  .hero
    margin-bottom: 3em
    .speaker-preview .title
      font-size: 1em
    .subtitle .link-with-icon
      padding-right: 10px
      &:hover span
        text-decoration: underline
