#main-container
  width: calc(100% - #{$sidebar_width})
  margin-left: $sidebar_width
  +tablet
    transition: width $sidebar_collapse_transition_duration, margin $sidebar_collapse_transition_duration

#main-container.expended
  width: calc(100% - #{$sidebar_collapsed_width})
  margin-left: $sidebar_collapsed_width
