#main-container
  padding-top: 55px
  width: 100%
  margin-top: $sidebar_full_collapse_banner_height
  +tablet
    transition: width $sidebar_collapse_transition_duration, margin $sidebar_collapse_transition_duration
  +mobile
    width: 100%
    margin-left: 0

  +from($sidebar_full_collapse_under + 1)
    margin-top: 0
    &.expended
      width: 100%
