.site-logo.title.is-1
  font-size: 24px
  &> *
    position: relative
    vertical-align: middle
  img
    z-index: 2
  .alt-c
    z-index: 1
    margin-left: -0.77em
    font-weight: bold
    opacity: 0.5
    font-size: 1.5em
  .logo-text
    z-index: 3
    margin-left: 0.18em
    font-weight: bold
  .beta
    font-size: 0.45em
    color: grey
    font-weight: 300
