$border-color: lightgrey

#sidebar
  position: fixed
  height: 100%
  left: 0
  min-width: $sidebar_width
  background: $white-bis
  overflow-y: auto
  overflow-x: hidden
  z-index: 9999999
  box-shadow: -15px 0px 40px -14px rgba(173, 173, 173, .3) inset
  border-right: 1px solid #e8e8e8
  +tablet
    transition: width $sidebar_collapse_transition_duration
  +mobile
    width: 100%
  @media screen and (max-height: 600px)
    .user-links
      display: none

  .connect-register-buttons .button
    @extend .is-fullwidth

  .user-quicklinks
    margin-bottom: 0.5em
    figure.image, .title
      display: inline-block
      vertical-align: middle
      margin-right: 7px
    .current-user-link
      span
        margin: 0 5px 1px 0
      &> *
        vertical-align: middle
    a.is-active .current-user-link .title
      color: $link-invert
    .button
      color: #494949
      background: transparent
    .level-right
      margin-top: 0

  .menu-content
    padding: 9px

  .language-selector
    padding-left: 10px
    .icon
      margin-right: 5px

  .link-with-icon > i
    width: 20px

#sidebar:not(.expended)
  min-width: $sidebar_collapsed_width
  text-align: center

  @media screen and (max-width: $sidebar_full_collapse_under)
    position: fixed
    width: 100%
    z-index: 9999
    height: inherit
    background: transparentize($white, 0.1)
    .menu-content
      display: none

  .link-with-icon i
    font-size: 25px
    margin: 0

  .logo
    display: none

  .user-quicklinks
    a
      padding: 4px
    figure.image
      height: 32px
      width: 32px
      margin: 0 auto
    .button, .tag
      display: none
    .link-with-icon
      padding: 5px

  .username
    display: none

  .menu-content
    .user-quicklinks
      margin-bottom: 5px

    .menu-label, .title
      display: none

    .menu-list
      border-bottom: 1px solid lightgrey
      padding-bottom: 5px
      margin-bottom: 5px
      &> li > a.link-with-icon
        padding: 7px 0
        &> i
          width: 100%
        &> span
          display: none

  .connect-register-buttons
    margin-bottom: 5px
    span:not(.icon)
      display: none
    .icon > i
      font-size: 24px

  .hide-when-collapsed
    display: none