@import "./variables"

.comment-form
  &:not(.incitation-comment)
    box-shadow: 0px 10px 6px -10px #dbdbdb inset
  .textarea
    $commentboxSize: 80px
    min-height: $commentboxSize

.incitation-comment
  align-items: center
  .button.is-inverted.is-primary
    padding: 0px
    &:not(:hover)
      background: none
