// Menu

.menu
  position: fixed
  width: 100%
  background-color: $white
  z-index: 9999999
  top: 0

  .logo-link
    display: flex
    color: inherit

    h1
      font-size: 30px
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

      .logo
        width: 50px
        margin: auto

      p
        margin: auto auto auto 5px

        span
          font-weight: bold
          color: $blue

// Desktop menu

.desktop-menu
  border-bottom: 1px solid $grey
  height: 70px
  padding: 0 30px
  display: flex
  justify-content: space-between

  ul
    margin: auto 0 auto 30px

    li
      position: relative

      p
        margin: auto

    li:not(:first-child), li:not(:last-child)
      margin: auto 10px

    li:first-child()
      margin-left: 0

    li:last-child()
      margin-right: 0

    .score
      background-color: $blue
      padding: 4px 5px
      border-radius: 5px
      margin-left: 10px
      color: $white

    .post-separator
      padding-right: 20px!important
      border-right: 1px solid $grey

    @media all and (max-width: 1250px)
      display: none

// Mobile menu

.mobile-menu
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: $white
  z-index: 99999
  display: flex
  flex-direction: column
  width: 100%

  .logo-link
    height: 70px
    padding-left: 25px

  ul
    display: flex
    flex-direction: column
    justify-content: space-around
    flex: 1
    max-width: 300px
    margin: auto
    padding: 0 10px

    li
      margin: auto 0

      p, a, .select-button, select
        width: 100%
        text-align: center

      p, a, select
        padding: 10px 30px

      &:first-child
        display: none


// Burger menu button

.burger-menu
  border: 0
  background-color: transparent
  width: 30px
  height: 20px
  position: absolute
  top: 26px
  right: 30px
  cursor: pointer
  display: none

  span
    height: 2px
    background-color: $black
    position: absolute
    top: 8px
    left: 0px
    right: 0

    &::before, &::after
      content: ''
      height: 2px
      background-color: $black
      position: absolute
      left: 0
      right: 0

    &::before
      top: -8px

    &::after
      bottom: -8px

  @media all and (max-width: 1250px)
    display: block

.burger-close-menu
  border: 0
  background-color: transparent
  width: 30px
  height: 30px
  position: absolute
  top: 26px
  right: 30px
  cursor: pointer

  span
    height: 2px
    background-color: $black
    position: absolute
    top: 8px
    left: 0
    right: 0
    transform: rotate(-45deg)

    &::before
      content: ''
      height: 2px
      background-color: $black
      position: absolute
      left: 0
      right: 0
      transform: rotate(90deg)