@font-face{
  font-family: 'Maison Neue';
  src: url('./_fonts/mn/MaisonNeue-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Maison Neue';
  src: url('./_fonts/mn/MaisonNeue-Medium.woff2') format('woff2'),
       url('./_fonts/mn/MaisonNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'Maison Neue';
  src: url('./_fonts/mn/MaisonNeue-Bold.woff2') format('woff2'),
       url('./_fonts/mn/MaisonNeue-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}