html
  overflow-y: auto

.link-with-icon
  color: #4a4a4a
  &> *
    display: inline-block
    vertical-align: middle
  .fa
    font-size: 1.2em
    margin-right: 5px
    vertical-align: middle
  .styled-icon
    font-size: 1.2em
    margin-right: 5px
    vertical-align: middle

a[disabled]
  color: gainsboro
  pointer-events: none

.image.is-40x40
  height: 40px
  width: 40px

h1
  font-family: $family-serif

.is-gradient-primary
  background: linear-gradient(45deg, #78b4b4, #5c8686 70%, #3c5a73)
  background-color: #5c8686
  color: $white-bis

.is-gradient-primary-light
  background: linear-gradient(15deg, lighten($primary, 5), darken($primary, 5) 70%)
  background-color: $primary
  color: $white-bis
  border: none
  &:hover
    color: $white-bis
    border-color: $grey-light
    background: linear-gradient(15deg, lighten($primary, 7), darken($primary, 7) 70%)
    background-color: lighten($primary, 5)

  &:active, &:focus
    color: $white-bis
    border-color: $grey-light
    background: linear-gradient(15deg, lighten($primary, 10), darken($primary, 10) 70%)

.is-gradient-info
  background: linear-gradient(45deg, $info, darken($info, 30) 65%)
  background-color: $info
  color: $white-bis

.button.is-gradient-info
  border-color: darken($white, 15)
  &:hover
    color: darken($white, 10)

/** Spacing helpers **/

@for $i from 0 through 10
  $value: $i * 0.25
  @if $i > 4
    $value: ($i - 4) * 1.5

  .m-#{$i}
    margin: #{$value}rem

  .mt-#{$i}
    margin-top: #{$value}rem

  .mr-#{$i}
    margin-right: #{$value}rem

  .mb-#{$i}
    margin-bottom: #{$value}rem

  .ml-#{$i}
    margin-left: #{$value}rem

  .mx-#{$i}
    margin-left: #{$value}rem
    margin-right: #{$value}rem

  .my-#{$i}
    margin-top: #{$value}rem
    margin-bottom: #{$value}rem

  .p-#{$i}
    padding: #{$value}rem

  .pt-#{$i}
    padding-top: #{$value}rem

  .pr-#{$i}
    padding-right: #{$value}rem

  .pb-#{$i}
    padding-bottom: #{$value}rem

  .pl-#{$i}
    padding-left: #{$value}rem

  .px-#{$i}
    padding-left: #{$value}rem
    padding-right: #{$value}rem

  .py-#{$i}
    padding-top: #{$value}rem
    padding-bottom: #{$value}rem
