html
  overflow: hidden

#main-container
  height: 100vh
  overflow-y: auto

.link-with-icon
  color: #4a4a4a
  &> *
    display: inline-block
    vertical-align: middle
  .fa
    font-size: 1.2em
    margin-right: 5px
    vertical-align: middle

.not-displayed
  display: none

.icon.is-mini
  font-size: 12px

a[disabled]
  color: gainsboro
  pointer-events: none

.image.is-40x40
  height: 40px
  width: 40px