// ---- Bulma overrides ----

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

// Primary colors

$green: #39b714
$red: #e0454e
$blue: #75caff

$primary: #6ba3a7
$primary-dark: #1B6DB6
$primary-darker: #095191
$primary-light: #5D9BD4
$primary-lighter: #8ABAE5
$primary-neutral: #5f82a0
$primary-desaturated: #5c82a3

$secondary: #ffb03f
$secondary-dark: #FF9E16
$secondary-darker: #E08300
$secondary-light: #FFBF65
$secondary-lighter: #FFD292
//$secondary-neutral: #b57c4a
//$secondary-desaturated: #c67b39

$primary-gradient: linear-gradient(45deg,#78b4b4,#587979 71%,#3c5a73)

$logo-main: #86d7ff

$info: $blue !default
$success: $green
$warning: $yellow !default
$danger: $red

// General colors
$background: $white-ter !default

$border: $grey-lighter !default
$border-hover: $grey-light !default

// Text colors
$text: $grey-dark !default
$text-invert: findColorInvert($text) !default
$text-light: $grey !default
$text-strong: $grey-darker !default

// Typography

$family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif
$family-serif: Merriweather,serif

$body-size: 14px

$size-1: 3rem
$size-2: 2.5rem
$size-3: 1.8rem
$size-4: 1.5rem
$size-5: 1.25rem
$size-6: 1rem
$size-7: 0.75rem

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7

// ----Custom----
$sidebar_width: 220px
$sidebar_collapsed_width: 54px
$sidebar_collapse_transition_duration: 0.10s
$sidebar_full_collapse_under: $tablet - 1
$sidebar_full_collapse_banner_height: 70px

@import "bulma/sass/utilities/derived-variables"

// Link colors
$link: $primary
$link-invert: $primary-invert
$link-visited: $purple

$link-hover: lighten($primary, 25)
$link-hover-border: $grey-light !default

$link-focus: $grey-darker
$link-focus-border: $primary

$link-active: $grey-darker !default
$link-active-border: $grey-dark !default

$colors: (white: ($white, $black), black: ($black, $white), light: ($light, $light-invert), dark: ($dark, $dark-invert), primary: ($primary, $primary-invert), info: ($info, $info-invert), success: ($success, $success-invert), warning: ($warning, $warning-invert), danger: ($danger, $danger-invert))

// Inputs
$input-focus-border: lighten($primary-desaturated, 20)
$button-hover: lighten($primary, 5)

$light: $white-ter !default
$dark: $grey-darker !default

// Invert colors
$primary-invert: $turquoise-invert !default
$info-invert: $blue-invert !default
$success-invert: $green-invert !default
$warning-invert: $yellow-invert !default
$danger-invert: $red-invert !default
$light-invert: $dark !default
$dark-invert: $light !default